/* Font Imports */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons-outlined {
    margin-right: 5px;
    font-size: inherit !important;
}

body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #7289da;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #7289da;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 10000px;
}


/*Loader*/

.loading {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: 400px;
    margin-left: -130px;
    margin-bottom: 20px;
    background-position: center;
}

.loading .dot {
    position: relative;
    width: 2em;
    height: 2em;
    margin: 0.8em;
    border-radius: 50%;
}

.loading .dot::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    animation: wave 2s ease-out infinite;
}

.loading .dot:nth-child(1) {
    background: #7289da;
}

.loading .dot:nth-child(1)::before {
    animation-delay: 0.2s;
}

.loading .dot:nth-child(2) {
    background: #7289da;
}

.loading .dot:nth-child(2)::before {
    animation-delay: 0.4s;
}

.loading .dot:nth-child(3) {
    background: #7289da;
}

.loading .dot:nth-child(3)::before {
    animation-delay: 0.6s;
}

.loading .dot:nth-child(4) {
    background: #7289da;
}

.loading .dot:nth-child(4)::before {
    animation-delay: 0.8s;
}

.loading .dot:nth-child(5) {
    background: #7289da;
}

.loading .dot:nth-child(5)::before {
    animation-delay: 1s;
}

@keyframes wave {
    50%,
    75% {
        transform: scale(2.5);
    }
    80%,
    100% {
        opacity: 0;
    }
}

* {
    --primary: #7289da;
    --secondary: rgb(255, 255, 255);
    --tertiary: #f4f8fa;
    --tertiaryshade: rgb(255, 255, 255);
    --nav: #f1f1f1;
}

@keyframes navbarload {
    from {
        top: -55px;
        opacity: 0;
    }
    to {}
}

@keyframes bar1 {
    0% {}
    50% {
        width: 0px;
        opacity: 0;
        background: white;
    }
    100% {
        background: var(--primary);
    }
}

@keyframes bar2 {
    0% {}
    50% {
        width: 0px;
        opacity: 0;
        background: white;
    }
    100% {
        width: 20px;
        background: var(--primary);
    }
}

@keyframes bar3 {
    0% {}
    50% {
        width: 0px;
        opacity: 0;
        background: white;
    }
    100% {
        background: var(--primary);
    }
}

@keyframes contentload {
    from {
        opacity: 0;
    }
}

@keyframes fadeleft {
    0% {
        opacity: 0;
        pointer-events: none;
        left: 15px;
    }
    50% {
        opacity: 0;
        pointer-events: none;
        left: 15px;
    }
    100% {
        opacity: 1;
        pointer-events: all;
        left: 0px;
    }
}

@keyframes faderight {
    0% {
        opacity: 0;
        pointer-events: none;
        right: 15px;
    }
    50% {
        opacity: 0;
        pointer-events: none;
        right: 15px;
    }
    100% {
        opacity: 1;
        pointer-events: all;
        right: 0px;
    }
}

@keyframes fadeup {
    0% {
        opacity: 0;
        pointer-events: none;
        top: 15px;
    }
    50% {
        opacity: 0;
        pointer-events: none;
        top: 15px;
    }
    100% {
        opacity: 1;
        pointer-events: all;
        top: 0px;
    }
}

@keyframes float {
    0% {
        top: 0;
    }
    50% {
        top: -25px;
    }
    100% {
        top: 0;
    }
}

.navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 55px;
    animation: navbarload 0.5s;
    padding: 0 3.5%;
    z-index: 1000;
    transition: all 0.3s;
}

.navbar:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0 4px 12px 2px;
    background: var(--nav);
}

.navbartitle {
    text-decoration: none;
    color: var(--primary);
    display: flex;
    flex-direction: row;
    float: left;
}

@media all and (max-width: 1000px) {
    .navbartitle {
        justify-content: center;
        float: none;
    }
}

.navbartitlechild {
    margin: 0;
    margin-left: 5px;
    line-height: 55px;
    height: 55px;
    float: left;
    transition: all 0.3s;
    font-size: 24px;
    font-weight: bold;
}

.navbartitle:hover .navbartitlechild {
    opacity: 0.6;
}

.navbartitleicon {
    height: 45px;
    width: 45px;
    margin: 2.5px;
    padding: 2.5px;
    transition: all 0.3s;
    font-size: 45px !important;
    border-radius: 100%;
}

.navsidebarbutton {
    float: left;
    height: 45px;
    width: 45px;
    margin: 5px 10px;
    margin-left: 0;
    cursor: pointer;
    transition: all 0.3s;
}

.navsidebarbutton:hover {
    opacity: 0.6;
}

@media all and (min-width: 1001px) {
    .navsidebarbutton {
        display: none;
    }
}

.navsidebarbuttonactive {}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin: 8.5px 7.5px;
    transition: all 0.2s;
    position: relative;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px 1px;
}

.barclick1 {
    background-color: var(--primary);
    top: 7px;
    transform: rotate(-30deg);
    width: 20px;
}

.barclick2 {
    background-color: var(--primary);
    width: 40px;
}

.barclick3 {
    background-color: var(--primary);
    top: -7px;
    transform: rotate(30deg);
    width: 20px;
}

.navsidebarcontent {
    left: -10px;
    top: 55px;
    position: fixed;
    height: calc(100% - 55px);
    background: rgb(255, 255, 255);
    min-width: 200px;
    width: fit-content;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
    box-shadow: rgba(0, 0, 0, 0.15) 0 16px 16px;
    overflow: hidden;
}

@media all and (max-width: 600px) {
    .navsidebarcontent {
        width: 100%;
        left: 0;
        top: 60px;
    }
}

@media all and (min-width: 1001px) {
    .navsidebarcontent {
        display: none;
    }
}

.navsidebarcontent:hover {
    overflow-y: auto;
}

.navsidebarcontentactive {
    left: 0px;
    opacity: 1;
    pointer-events: all;
}

@media all and (max-width: 600px) {
    .navsidebarcontentactive {
        top: 55px;
    }
}

.navsidebarcontent a {
    width: calc(100% - 24px);
    padding: 12px;
    display: block;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s ease;
    color: black;
}

.navsidebarcontent a:hover {
    background: rgb(240, 240, 240);
}

.navsidebardropdownbutton {
    width: calc(100% - 24px);
    padding: 12px;
    display: block;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s ease;
    color: black;
}

.navsidebardropdownbutton:hover {
    background: rgb(240, 240, 240);
}

.navsidebardropdownbutton span {
    transition: 0.4s;
}

.navsidebardropdownparent:hover button span {
    transform: rotate(180deg);
}

.navsidebardropdownparent {
    transition: all 0.2s;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
}

.navsidebardropdowncontentchild {
    transition: all 0s;
    opacity: 0;
    pointer-events: none;
    height: 0;
    position: relative;
    top: 5px;
}

.navsidebardropdowncontentchild a {
    padding-left: 0px;
    opacity: 0;
    pointer-events: all;
    transition-delay: 0.1s;
    height: 0;
}

.navsidebardropdownparent:hover .navsidebardropdowncontentchild {
    opacity: 1;
    pointer-events: all;
    height: auto;
    top: 0;
}

.navsidebardropdownparent:hover .navsidebardropdowncontentchild a {
    opacity: 1;
    pointer-events: all;
    padding-left: 30px;
    height: auto;
}

.navsidebardropdownparent:hover .navsidebardropdownbutton {
    background: rgb(240, 240, 240);
}

.navtopbar {
    display: flex;
    flex-direction: row;
    float: right;
}

@media all and (max-width: 500px) {
    .navtopbar {
        display: none;
    }
}

.navtopbarlinks {
    display: flex;
    flex-direction: row;
    float: right;
}

@media all and (max-width: 1000px) {
    .navtopbarlinks {
        display: none;
    }
}

.navtopbar a {
    line-height: 55px;
    text-decoration: none;
    font-size: 17px;
    padding: 0 20px;
    transition: all 0.3s;
    display: block;
    color: var(--primary);
}

.navtopbar a:hover {
    background: var(--nav);
    box-shadow: inset rgba(0, 0, 0, 0.05) 0 0 1000px;
}

.navtopbarinvite {
    border-radius: 30px;
    border: var(--primary) solid 2px;
    color: var(--primary);
    padding: 0 30px !important;
    margin: 7.5px 10px;
    line-height: 35px !important;
    height: 35px;
    transition: all 0.3s;
    cursor: pointer;
    user-select: none;
}

.navtopbarinvite:hover {
    background: var(--primary) !important;
    color: white !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0 4px 8px 0, rgba(0, 0, 0, 0.06) 0 12px 28px 0 !important;
}

.navtopbarinvite:focus {
    background: var(--primary);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0 4px 8px 0, rgba(0, 0, 0, 0.15) 0 12px 28px 0;
}

.navtopbarprofile {
    margin: 2.5px 7.5px;
    margin-right: 0;
    height: 45px !important;
    width: 45px !important;
    border-radius: 100%;
    padding: 2.5px !important;
}

.navtopbarprofileicon {
    font-size: 45px !important;
}

.dropdownbutton {}

.dropdownbutton:hover {
    opacity: 1 !important;
    background: var(--primary);
}

.dropdownbutton span {
    transition: 0.4s;
}

.dropdownparent:hover button span {
    transform: rotate(180deg);
}

.dropdownparent {
    position: relative;
    float: right;
    width: fit-content;
    transition: all 0.2s;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    border-radius: 4px;
    z-index: 1000;
}

.dropdowncontentparent {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    right: -13px;
    top: 60px;
    background: transparent;
    padding: 12px;
    transition: all 0.3s;
}

.dropdowncontentchild {
    box-shadow: rgba(0, 0, 0, 0.15) 0 12px 22px 2px, rgba(0, 0, 0, 0.055) 0 12px 12px;
    border-radius: 4px;
    overflow: hidden;
    min-width: 200px;
    width: max-content;
    transition: all 0.3s;
    background: var(--nav);
}

.dropdowncontentchild:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 12px 22px 2px, rgba(0, 0, 0, 0.075) 0 12px 12px;
}

.dropdowncontentchild a {}

.dropdowncontentchild a:hover {
    background: var(--nav);
    box-shadow: inset rgba(255, 255, 255, 0.1) 0 0 1000px;
}

.dropdownparent:hover .dropdowncontentparent {
    opacity: 1;
    pointer-events: all;
    top: 50px;
}

.dropdownparent:hover .dropdownbutton {
    opacity: 0.6;
    background: var(--primary);
}


/*Content*/

.content {
    animation: 1s contentload;
}

.landingparent {
    padding: 0 7.5%;
    padding-top: 55px;
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 55px);
    background-color: var(--secondary);
    align-items: center;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("https://images.unsplash.com/photo-1530435460869-d13625c69bbf?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    object-fit: cover;
}

@media all and (max-width: 800px) {
    .landingparent {
        flex-direction: column;
        padding-top: 85px;
        min-height: calc(100vh - 85px);
    }
}

.landingchild {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    transition: all 0.3s;
}

@media all and (max-width: 800px) {
    .landingchild {
        text-align: center;
    }
}

.landingchildleft {
    animation: fadeleft 0.9s, contentload 0.5s;
}

.landingheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    margin: auto;
}

@media all and (max-width: 800px) {
    .landingheader {
        text-align: center;
        width: fit-content;
    }
}

.landingheadertext {
    margin-left: 20px;
    font-size: 50px;
    color: var(--primary);
}

.landingicon {
    width: 50px;
    height: 50px;
}

.landingcontent {
    color: rgb(255, 255, 255);
    margin: 30px auto;
    font-size: 19px;
    line-height: 30px;
}

.landingimage {
    width: 65%;
    margin: 0 17.5%;
    animation: faderight 1.5s, float 3s infinite 1.5s;
    position: relative;
}

.landingchildcontainerparent {
    display: flex;
    width: fit-content;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: 20px;
}

.landingchildcontainerchild {
    width: fit-content;
    margin: 10px;
    position: relative;
    animation: fadeup 2.2s;
}

.landingbutton {
    border-radius: 30px;
    border: var(--primary) solid 2px;
    color: var(--primary);
    padding: 12px 35px;
    transition: all 0.3s;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    line-height: 100%;
}

.landingbutton:hover {
    background: var(--primary);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0 4px 8px 0, rgba(0, 0, 0, 0.06) 0 12px 28px 0;
}

.landingbutton:focus {
    background: var(--primary);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0 4px 8px 0, rgba(0, 0, 0, 0.15) 0 12px 28px 0;
}

.landingsplitter {
    background: var(--tertiary);
    height: 13vh;
}

.container1 {
    background: var(--tertiary);
}

.container2 {
    background: var(--secondary);
}

.flexparent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardcontainer {
    justify-content: space-around;
}

.cardparent {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    cursor: default;
}

.cardparent:hover .cardimage {
    top: -5px;
    filter: brightness(70%);
}

.cardtitle {
    margin: 20px 0;
    font-size: 26px;
    text-align: center;
}

.cardimage {
    color: var(--primary);
    margin: 0 calc(50% - 32px);
    position: relative;
    top: 0;
    transition: all 0.3s;
}

.cardcontent {
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: 25px;
}

.featuredcontainer {
    padding: 40px 0;
    align-items: center;
    justify-content: center;
}

.featuredparent {
    width: 30%;
}

.featuredimage {
    width: 90%;
    margin: 0 20%;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 8px 18px 0;
}

.sticky {
    position: fixed;
    top: 0;
}

li {
    display: inline;
}

ul {
    display: inline;
    position: relative;
    left: 35%;
    top: -85px;
}

hr {
    color: white;
    font-weight: 900;
    height: 2px;
    background-color: white;
    position: relative;
    top: -120px;
}

body {
    background-color: white;
    scroll-behavior: smooth;
}

.head-title-img {
    position: relative;
    left: 110px;
    top: -10px;
    transform: translateY(6rem);
    -webkit-animation: up 500ms linear forwards;
    animation: up 500ms linear forwards;
    z-index: 1;
    text-shadow: 0px 1px 1px white;
}

.head-title-img::before {
    top: 9.4rem;
    -webkit-animation: draw 500ms linear 1s forwards;
    animation: draw 500ms linear 1s forwards;
}

.head-title-img::after {
    bottom: 0.4rem;
    -webkit-animation: draw 500ms linear 1s forwards;
    animation: draw 500ms linear 1s forwards;
}

@-webkit-keyframes up {
    100% {
        transform: translateY(0);
    }
}

@keyframes up {
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes draw {
    100% {
        width: 100%;
    }
}

@keyframes draw {
    100% {
        width: 100%;
    }
}

.head-title-description {
    font-family: 'Montserrat', sans-serif;
    color: #7289da;
    font-size: 40px;
    text-align: center;
    position: relative;
}

.title-container {
    font-size: 0;
    overflow: hidden;
    padding-bottom: 0.4rem;
}

.invite-url {
    color: white;
    text-decoration: none;
}

.button.brand.default {
    background-color: #7289da;
    border-color: #7289da;
    color: white;
    position: relative;
    top: 20px;
    left: 550px;
    border-radius: 5px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
    min-height: 32px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 30px;
    color: #fff;
    -webkit-transition: border 180ms ease-out, background 180ms ease-out;
    -moz-transition: border 180ms ease-out, background 180ms ease-out;
    -o-transition: border 180ms ease-out, background 180ms ease-out;
    -ms-transition: border 180ms ease-out, background 180ms ease-out;
    transition: border 180ms ease-out, background 180ms ease-out;
    color: #fff;
    -webkit-transition: border 180ms ease-out, background 180ms ease-out;
    -moz-transition: border 180ms ease-out, background 180ms ease-out;
    -o-transition: border 180ms ease-out, background 180ms ease-out;
    -ms-transition: border 180ms ease-out, background 180ms ease-out;
    transition: border 180ms ease-out, background 180ms ease-out;
}

.button.brand.default:hover {
    background-color: #7289dab4;
}

@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

.scroll-btn {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    top: 20px;
}

.scroll-btn>* {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7289da;
    color: #7289da;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*.active {
    color: #7289da;
}

.scroll-btn>*:hover,
.scroll-btn>*:focus,
.scroll-btn>*:active,
.scroll-btn>*.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #7289da;
    border-radius: 23px;
}

.scroll-btn .mouse>* {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #7289da;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.server-stats {
    background-color: #2f3136;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    padding: 10px 10px 10px 10px;
    align-items: center;
    align-content: center;
    position: relative;
    left: 100px;
    top: 105px;
}

#server-icon-stats {
    color: white;
    height: 200px;
    width: 200px;
    margin-left: 100px;
    padding-top: 30px;
}

#user-icon-stats {
    color: white;
    height: 200px;
    width: 200px;
    margin-left: 110px;
    padding-top: 30px;
}

#command-icon-stats {
    color: white;
    height: 200px;
    width: 200px;
    margin-left: 110px;
    padding-top: 30px;
}

.server-stats-header {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    position: relative;
    left: 75px;
    top: -140px;
}

.server-stats-description {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    position: relative;
    left: 45px;
    top: -140px;
    text-align: center;
    width: 200px;
}

.user-stats {
    background-color: #2f3136;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    padding: 10px 10px 10px 10px;
    align-items: center;
    align-content: center;
    position: relative;
    left: 500px;
    top: -215px;
}

#server-icon-stats {
    color: white;
    height: 200px;
    width: 200px;
    margin-left: 120px;
    padding-top: 30px;
}

.user-stats-header {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    position: relative;
    left: 80px;
    top: -140px;
}

.user-stats-description {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    position: relative;
    left: 30px;
    top: -140px;
    text-align: center;
    width: 240px;
}

.other-stats {
    background-color: #2f3136;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    padding: 10px 10px 10px 10px;
    align-items: center;
    align-content: center;
    position: relative;
    left: 900px;
    top: -535px;
}

#server-icon-stats {
    color: white;
    height: 200px;
    width: 200px;
    margin-left: 120px;
    padding-top: 30px;
}

.other-stats-header {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    position: relative;
    left: 50px;
    top: -140px;
}

.other-stats-description {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    position: relative;
    left: 45px;
    top: -140px;
    text-align: center;
    width: 200px;
}

.info-section-one-title {
    font-family: 'Montserrat', sans-serif;
    color: #2f3136;
    font-size: 40px;
    padding-left: 650px;
    padding-top: 200px;
    text-align: left;
}

.info-section-one-description {
    font-family: 'Quicksand', sans-serif;
    color: #7289da;
    font-size: 20px;
    padding-left: 650px;
    text-align: left;
    width: 650px;
}

.info-section-one-img {
    border-radius: 5px;
    position: relative;
    top: -210px;
    margin-left: 60px;
    margin: 0 auto;
    transition: box-shadow 0.1s, transform 0.1s;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    display: flex;
}


/*.info-section-one-img:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
    cursor: pointer;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}*/

.info-section-two-title {
    font-family: 'Montserrat', sans-serif;
    color: #2f3136;
    font-size: 40px;
    padding-left: 650px;
    padding-top: 200px;
    text-align: left;
}

.info-section-two-description {
    font-family: 'Quicksand', sans-serif;
    color: #2f3136;
    font-size: 20px;
    padding-left: 650px;
    text-align: left;
    width: 650px;
}

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 0.6s;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}